* {
  margin: 0;
  padding: 0; }

.display-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.margen {
  width: 90%;
  max-width: 1200px;
  margin: 20px auto; }

.img-circular {
  width: 24px;
  height: 24px;
  border-radius: 12px; }

.img-cuadro-255 {
  width: 255px;
  height: 255px; }

.lt-titulo {
  font-family: "Barlow", sans-serif;
  font-size: 17px;
  font-weight: bolder;
  text-decoration: none; }

.lt-parrafo {
  font-family: "News Cycle", sans-serif;
  font-size: 17px;
  font-weight: unset;
  text-decoration: none; }

.tex-deco-none {
  text-decoration: none; }

.bg-dark {
  background: #1c1f21;
  color: #F4F4F4;
  text-decoration: none; }

.si-20 {
  font-size: 20px; }

.si-18 {
  font-size: 18px; }

.si-17 {
  font-size: 17px; }

.si-15 {
  font-size: 15px; }

.si-11 {
  font-size: 12px; }

.bt-red-normal {
  background: #EF241C;
  line-height: 4.2;
  padding: 0 5px; }

.center-total {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

* {
  margin: 0;
  padding: 0; }

.display-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.margen {
  width: 90%;
  max-width: 1200px;
  margin: 20px auto; }

.img-circular {
  width: 24px;
  height: 24px;
  border-radius: 12px; }

.img-cuadro-255 {
  width: 255px;
  height: 255px; }

.lt-titulo {
  font-family: "Barlow", sans-serif;
  font-size: 17px;
  font-weight: bolder;
  text-decoration: none; }

.lt-parrafo {
  font-family: "News Cycle", sans-serif;
  font-size: 17px;
  font-weight: unset;
  text-decoration: none; }

.tex-deco-none {
  text-decoration: none; }

.bg-dark {
  background: #1c1f21;
  color: #F4F4F4;
  text-decoration: none; }

.si-20 {
  font-size: 20px; }

.si-18 {
  font-size: 18px; }

.si-17 {
  font-size: 17px; }

.si-15 {
  font-size: 15px; }

.si-11 {
  font-size: 12px; }

.bt-red-normal {
  background: #EF241C;
  line-height: 4.2;
  padding: 0 5px; }

.center-total {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

* {
  margin: 0;
  padding: 0; }

.display-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.margen {
  width: 90%;
  max-width: 1200px;
  margin: 20px auto; }

.img-circular {
  width: 24px;
  height: 24px;
  border-radius: 12px; }

.img-cuadro-255 {
  width: 255px;
  height: 255px; }

.lt-titulo {
  font-family: "Barlow", sans-serif;
  font-size: 17px;
  font-weight: bolder;
  text-decoration: none; }

.lt-parrafo {
  font-family: "News Cycle", sans-serif;
  font-size: 17px;
  font-weight: unset;
  text-decoration: none; }

.tex-deco-none {
  text-decoration: none; }

.bg-dark {
  background: #1c1f21;
  color: #F4F4F4;
  text-decoration: none; }

.si-20 {
  font-size: 20px; }

.si-18 {
  font-size: 18px; }

.si-17 {
  font-size: 17px; }

.si-15 {
  font-size: 15px; }

.si-11 {
  font-size: 12px; }

.bt-red-normal {
  background: #EF241C;
  line-height: 4.2;
  padding: 0 5px; }

.center-total {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.toda-la-ventana-superior .header {
  width: 100vw;
  height: 50px;
  grid-area: header-sup;
  background: #1c1f21;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 10px 1fr 10px 1fr 10px 1fr 10px 1fr 10px 1fr 10px 1fr 10px 1fr;
  grid-template-columns: repeat(8, 1fr);
  grid-template-areas: "derecha derecha menu menu menu menu acciones acciones";
  grid-gap: 10px; }
  .toda-la-ventana-superior .header .derecha {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    padding-left: 10px;
    grid-area: derecha; }
    .toda-la-ventana-superior .header .derecha a {
      text-decoration: none;
      color: #FFFFFF; }
  .toda-la-ventana-superior .header .menu {
    -ms-grid-row: 1;
    -ms-grid-column: 5;
    -ms-grid-column-span: 7;
    grid-area: menu;
    -ms-grid-columns: (auto)[8];
    grid-template-columns: repeat(8, auto);
    grid-gap: 10px; }
    .toda-la-ventana-superior .header .menu a:hover {
      color: #EF241C; }
    .toda-la-ventana-superior .header .menu a {
      position: relative; }
      .toda-la-ventana-superior .header .menu a:before {
        content: "";
        display: block;
        width: 0;
        height: 5px;
        background: #EF241C;
        position: absolute;
        left: 50%;
        bottom: -17px;
        -webkit-transition: all .2s;
        -o-transition: all .2s;
        transition: all .2s;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center; }
      .toda-la-ventana-superior .header .menu a:hover:before {
        width: 90%;
        left: 0; }
  .toda-la-ventana-superior .header .acciones {
    -ms-grid-row: 1;
    -ms-grid-column: 5;
    -ms-grid-column-span: 7;
    grid-area: menu;
    -ms-grid-columns: (auto)[7];
    grid-template-columns: repeat(7, auto);
    grid-gap: 10px;
    grid-area: acciones; }

@media (max-width: 1600px) and (min-width: 1004px) {
  body {
    background: green; }
  .header .menu {
    display: -ms-grid;
    display: grid; }
  .header .acciones {
    display: -ms-grid;
    display: grid; } }

@media (max-width: 1003px) and (min-width: 700px) {
  body {
    background: red; }
  .header .menu {
    display: none; }
  .header .acciones {
    display: -ms-grid;
    display: grid; }
    .header .acciones .borrar {
      display: none; } }

@media (max-width: 699px) {
  body {
    background: skyblue; }
  .header .menu {
    display: none; }
  .header .acciones {
    display: none; } }

.toda-la-ventana-superior .slider {
  width: 100vw;
  margin: 0; }
  .toda-la-ventana-superior .slider ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0;
    width: 500vw;
    -webkit-animation: deslizar 40s infinite alternate linear;
    animation: deslizar 40s infinite alternate linear; }
    .toda-la-ventana-superior .slider ul li {
      width: 100vw;
      list-style: none; }
      .toda-la-ventana-superior .slider ul li .banner-principal {
        width: 100vw;
        background-repeat: no-repeat;
        background-size: cover;
        -webkit-animation: fondo 5s infinite alternate;
        animation: fondo 5s infinite alternate;
        display: -ms-grid;
        display: grid;
        padding: auto; }
        .toda-la-ventana-superior .slider ul li .banner-principal .img {
          grid-area: img;
          width: 210px;
          height: 210px;
          background-size: cover; }
          .toda-la-ventana-superior .slider ul li .banner-principal .img .icono {
            display: none;
            color: #F4F4F4;
            font-size: 50px;
            -webkit-transition: all .3s;
            -o-transition: all .3s;
            transition: all .3s; }
          .toda-la-ventana-superior .slider ul li .banner-principal .img:hover .icono {
            display: block; }
        .toda-la-ventana-superior .slider ul li .banner-principal .texto {
          grid-area: texto;
          color: #F4F4F4;
          text-transform: uppercase; }
          .toda-la-ventana-superior .slider ul li .banner-principal .texto h1 {
            font-family: "Work Sans", sans-serif; }
          .toda-la-ventana-superior .slider ul li .banner-principal .texto h2 {
            font-family: "Work Sans", sans-serif;
            -webkit-transition: all .3s;
            -o-transition: all .3s;
            transition: all .3s; }
          .toda-la-ventana-superior .slider ul li .banner-principal .texto a {
            background: transparent;
            color: #F4F4F4;
            text-decoration: none;
            font-family: "Barlow", sans-serif; }
            .toda-la-ventana-superior .slider ul li .banner-principal .texto a:hover {
              color: #EF241C; }

.display-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-line-pack: center;
  align-content: center; }

@-webkit-keyframes deslizar {
  0% {
    margin-left: 0; }
  20% {
    margin-left: 0; }
  25% {
    margin-left: -100vw; }
  50% {
    margin-left: -100vw; }
  55% {
    margin-left: -200vw; }
  70% {
    margin-left: -200vw; }
  75% {
    margin-left: -300vw; }
  100% {
    margin-left: -300vw; } }

@keyframes deslizar {
  0% {
    margin-left: 0; }
  20% {
    margin-left: 0; }
  25% {
    margin-left: -100vw; }
  50% {
    margin-left: -100vw; }
  55% {
    margin-left: -200vw; }
  70% {
    margin-left: -200vw; }
  75% {
    margin-left: -300vw; }
  100% {
    margin-left: -300vw; } }

.bp-1 {
  background-image: url(https://spinninrecords.com/media/cache/header_wide/uploads/media/releases/0001/13/thumb_9e6719a7cdff9c71_releases_ogimage.jpeg); }
  .bp-1 .img {
    background-image: url(https://spinninrecords.com/media/cache/release_thumbnail/uploads/media/releases/0001/13/thumb_1f536134ce181fee_releases_ogimage.jpeg); }

.bp-2 {
  background-image: url(https://spinninrecords.com/media/cache/header_wide/uploads/media/releases/0001/13/thumb_a4a9208196df9ade_releases_ogimage.jpeg); }
  .bp-2 .img {
    background-image: url(https://spinninrecords.com/media/cache/release_thumbnail/uploads/media/releases/0001/13/thumb_0360452e95af0ecc_releases_ogimage.jpeg); }

.bp-3 {
  background-image: url(https://spinninrecords.com/media/cache/header_wide/uploads/media/releases/0001/13/thumb_06e79c808c162662_releases_ogimage.jpeg); }
  .bp-3 .img {
    background-image: url(https://spinninrecords.com/media/cache/release_thumbnail/uploads/media/releases/0001/13/thumb_001856746cdfa307_releases_ogimage.jpeg); }

.bp-4 {
  background-image: url(https://spinninrecords.com/media/cache/header_wide/uploads/media/releases/0001/13/thumb_0ae3ebb9d213f27a_releases_ogimage.jpeg); }
  .bp-4 .img {
    background-image: url(https://spinninrecords.com/media/cache/release_thumbnail/uploads/media/releases/0001/10/thumb_545fb8a67ea75117_releases_ogimage.jpeg); }

@media (max-width: 1600px) and (min-width: 700px) {
  .banner-principal {
    height: 240px;
    grid-auto-columns: 1fr 2fr;
    grid-template-areas: "img texto";
    background-size: 100vw 240px; }
    .banner-principal .img {
      margin: auto; }
    .banner-principal .texto h1 {
      font-size: 40px; }
    .banner-principal .texto h2 {
      font-size: 25px;
      padding-bottom: 20px; }
    .banner-principal .texto a {
      font-size: 18px;
      padding: 6px 15px;
      border: 3px solid; }
  @-webkit-keyframes fondo {
    from {
      background-position: left center;
      background-size: 1550px; }
    to {
      background-position: right center;
      background-size: 1900px; } }
  @keyframes fondo {
    from {
      background-position: left center;
      background-size: 1550px; }
    to {
      background-position: right center;
      background-size: 1900px; } } }

@media (max-width: 699px) {
  .banner-principal {
    height: 400px;
    width: 100%;
    height: 400px;
    grid-auto-rows: 1fr 1fr;
    grid-template-areas: "img" "texto";
    background-size: 100vw 400px;
    text-align: center; }
    .banner-principal .img {
      margin: auto;
      margin-top: 30px; }
    .banner-principal .texto h1 {
      font-size: 30px; }
    .banner-principal .texto h2 {
      font-size: 15px;
      padding-bottom: 10px; }
    .banner-principal .texto a {
      font-size: 12px;
      padding: 4px 15px;
      border: 2px solid; }
  @-webkit-keyframes fondo {
    from {
      background-position: left center;
      background-size: 2600px; }
    to {
      background-position: right center;
      background-size: 3100px; } }
  @keyframes fondo {
    from {
      background-position: left center;
      background-size: 2600px; }
    to {
      background-position: right center;
      background-size: 3100px; } } }

.todo-el-body {
  width: 100%; }
  .todo-el-body .toda-la-ventana-superior {
    margin: 0;
    display: 0; }
  .todo-el-body .toda-la-ventana-inferior {
    width: 100%;
    max-width: 800px;
    margin: 22px 33px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[4];
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: "s-lar s-lar tarj tarj"; }
