* {
  margin: 0;
  padding: 0; }

.display-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.margen {
  width: 90%;
  max-width: 1200px;
  margin: 20px auto; }

.img-circular {
  width: 24px;
  height: 24px;
  border-radius: 12px; }

.img-cuadro-255 {
  width: 255px;
  height: 255px; }

.lt-titulo {
  font-family: "Barlow", sans-serif;
  font-size: 17px;
  font-weight: bolder;
  text-decoration: none; }

.lt-parrafo {
  font-family: "News Cycle", sans-serif;
  font-size: 17px;
  font-weight: unset;
  text-decoration: none; }

.tex-deco-none {
  text-decoration: none; }

.bg-dark {
  background: #1c1f21;
  color: #F4F4F4;
  text-decoration: none; }

.si-20 {
  font-size: 20px; }

.si-18 {
  font-size: 18px; }

.si-17 {
  font-size: 17px; }

.si-15 {
  font-size: 15px; }

.si-11 {
  font-size: 12px; }

.bt-red-normal {
  background: #EF241C;
  line-height: 4.2;
  padding: 0 5px; }

.center-total {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

* {
  margin: 0;
  padding: 0; }

.display-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.margen {
  width: 90%;
  max-width: 1200px;
  margin: 20px auto; }

.img-circular {
  width: 24px;
  height: 24px;
  border-radius: 12px; }

.img-cuadro-255 {
  width: 255px;
  height: 255px; }

.lt-titulo {
  font-family: "Barlow", sans-serif;
  font-size: 17px;
  font-weight: bolder;
  text-decoration: none; }

.lt-parrafo {
  font-family: "News Cycle", sans-serif;
  font-size: 17px;
  font-weight: unset;
  text-decoration: none; }

.tex-deco-none {
  text-decoration: none; }

.bg-dark {
  background: #1c1f21;
  color: #F4F4F4;
  text-decoration: none; }

.si-20 {
  font-size: 20px; }

.si-18 {
  font-size: 18px; }

.si-17 {
  font-size: 17px; }

.si-15 {
  font-size: 15px; }

.si-11 {
  font-size: 12px; }

.bt-red-normal {
  background: #EF241C;
  line-height: 4.2;
  padding: 0 5px; }

.center-total {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

* {
  margin: 0;
  padding: 0; }

.display-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.margen {
  width: 90%;
  max-width: 1200px;
  margin: 20px auto; }

.img-circular {
  width: 24px;
  height: 24px;
  border-radius: 12px; }

.img-cuadro-255 {
  width: 255px;
  height: 255px; }

.lt-titulo {
  font-family: "Barlow", sans-serif;
  font-size: 17px;
  font-weight: bolder;
  text-decoration: none; }

.lt-parrafo {
  font-family: "News Cycle", sans-serif;
  font-size: 17px;
  font-weight: unset;
  text-decoration: none; }

.tex-deco-none {
  text-decoration: none; }

.bg-dark {
  background: #1c1f21;
  color: #F4F4F4;
  text-decoration: none; }

.si-20 {
  font-size: 20px; }

.si-18 {
  font-size: 18px; }

.si-17 {
  font-size: 17px; }

.si-15 {
  font-size: 15px; }

.si-11 {
  font-size: 12px; }

.bt-red-normal {
  background: #EF241C;
  line-height: 4.2;
  padding: 0 5px; }

.center-total {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.toda-la-ventana-superior .header {
  width: 100%;
  height: 50px;
  grid-area: header-sup;
  background: #1c1f21;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 10px 1fr 10px 1fr 10px 1fr 10px 1fr 10px 1fr 10px 1fr 10px 1fr;
  grid-template-columns: repeat(8, 1fr);
  grid-template-areas: "derecha derecha menu menu menu menu acciones acciones";
  grid-gap: 10px; }
  .toda-la-ventana-superior .header .derecha {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    padding-left: 10px;
    grid-area: derecha; }
    .toda-la-ventana-superior .header .derecha a {
      text-decoration: none;
      color: #FFFFFF; }
  .toda-la-ventana-superior .header .menu {
    -ms-grid-row: 1;
    -ms-grid-column: 5;
    -ms-grid-column-span: 7;
    grid-area: menu;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (auto)[8];
    grid-template-columns: repeat(8, auto);
    grid-gap: 10px; }
    .toda-la-ventana-superior .header .menu a:hover {
      color: #EF241C; }
    .toda-la-ventana-superior .header .menu a {
      position: relative; }
      .toda-la-ventana-superior .header .menu a:before {
        content: "";
        display: block;
        width: 0;
        height: 5px;
        background: #EF241C;
        position: absolute;
        left: 50%;
        bottom: -17px;
        -webkit-transition: all .2s;
        -o-transition: all .2s;
        transition: all .2s;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center; }
      .toda-la-ventana-superior .header .menu a:hover:before {
        width: 90%;
        left: 0; }
  .toda-la-ventana-superior .header .acciones {
    -ms-grid-row: 1;
    -ms-grid-column: 5;
    -ms-grid-column-span: 7;
    grid-area: menu;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (auto)[7];
    grid-template-columns: repeat(7, auto);
    grid-gap: 10px;
    grid-area: acciones; }

@media (max-width: 970px) {
  body {
    background: red; }
  .header {
    grid-template-areas: "derecha derecha derecha derecha derecha   acciones acciones acciones"; }
    .header .menu {
      display: none; }
  .header > .derecha {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 5; } }

@media (max-width: 640px) {
  body {
    background: yellow; }
  .header {
    grid-template-areas: "derecha"; }
    .header .menu {
      display: none; }
    .header .acciones {
      display: none; }
  .header > .derecha {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1; } }

.todo-el-body {
  width: 100%; }
  .todo-el-body .toda-la-ventana-superior {
    margin: 0;
    display: 0; }
  .todo-el-body .toda-la-ventana-inferior {
    width: 100%;
    max-width: 800px;
    margin: 22px 33px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[4];
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: "s-lar s-lar tarj tarj"; }
