$lt-titulo: 'Barlow',
sans-serif;
$lt-subtitulos: 'Manjari',
sans-serif;
$lt-parrafo: 'News Cycle',
sans-serif;
$lt-gruesa:'Work Sans',
sans-serif;
// ------------------------------
$cl-bg-header: #1c1f21;
$cl-rojo:#EF241C;
$cl-bg-lite:#F4F4F4;
$cl-blanco:#FFFFFF;
// #EF241C
// #1ED55F
// #2F4B93
// #EF241C
// ---------------------
$si-20: 20px;
$si-18: 18px;
$si-17: 17px;
$si-15: 15px;