@import "recursos/importes";
@import "recursos/fuentes&color";
@import "recursos/generales";
$cl-letra:$cl-blanco;
// -----------------------------------
// ---------PARTES DEL CODIGO---------
@import "partes/header";
@import "partes/centro_g";
// @import "partes/banner";
@import "partes/banner2";
@import "partes/gallery";
// -----------------------------------
// -------------------MIXIN-------------
// -------------------MIXIN-------------
// -----------------------------------
.todo-el-body {
    width: 100%;
    // margin: 0;
    // padding: 0;
    // display: grid;
    // grid-template-rows: 1fr 1fr;
    // grid-template-areas: "superior", "inferior";
    .toda-la-ventana-superior {
        margin: 0;
        display: 0;
        // grid-area: "superior";
        // display: grid;
        // grid-template-columns: 1fr 1fr 1fr;
        // grid-template-rows: 1fr;
        // grid-template-areas: "header-sup", "banner";
    }
    .toda-la-ventana-inferior {
        // grid-area: inferior;
        width: 88%;
        // max-width: 800px;
        height: 1000px;
        margin: 30px auto;
        background: #f2f2f2;
        // ---------------------------
        display: grid;
        grid-template-areas: "target-News" "Out-Now" "Out-Soon" "Events";
        grid-gap: 20px;
    }
}